.header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.header-content .field-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.header-content .btn-addnew {
    background: #fff;
    border: 1px solid;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
}